.admin-container {
  padding: 2rem;
  text-align: center;
}

.admin-container h2 {
  color: #3f51b5;
}

.admin-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.admin-container th, .admin-container td {
  border: 1px solid #ccc;
  padding: 10px;
}

.admin-container th {
  background-color: #f0f0f0;
}
